<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <header class="bg-dark text-white py-4">
        <div class="container">
            <h1 class="text-center">Login</h1>
        </div>
    </header>

    <!--Placeholder login form-->
    <main class="py-4">
        <div class="container">
            <form action="/home" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
        <p>Click <a href="/">here</a> to go home.</p>
        </div>
    </main>

    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p>&copy; 2024 API Data Display</p>
        </div>
    </footer>
  </body>
</html>